@import "tailwindcss";

html {
  font-family: "Roboto", sans-serif;
  color: #000000;
  scroll-behavior: smooth;
}

/* =========================
   STYLE FOR RESUABLE CARDS
   ========================= */

/* Base Card Styles */

.card {
  display: block;
  margin: 0 auto;
  background: #f3ebe6;
  border-radius: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: scale(1.014);
}

.card-inner {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-radius: 14px;
}

.card-image {
  background-size: cover;
  background-position: center;
}

.card-content {
  display: flex;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 11px;
}
.card-desc {
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
}

.arrow {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
}
.arrow-overlay {
  position: absolute;
  inset: 0;
  background-color: #eed6d4;
  transition: transform 0.3s ease-out;
  z-index: 10;
}

.arrow--slide-left .arrow-overlay {
  transform: translateX(-100%);
}

.arrow--slide-top .arrow-overlay {
  transform: translateY(-100%);
}

.card:hover .arrow--slide-left .arrow-overlay {
  transform: translateX(0);
}

.back-top-button:hover .arrow--slide-top .arrow-overlay {
  transform: translateY(0);
}

.arrow-icon {
  position: absolute;
  inset: 0;
  width: 25px;
  height: 25px;
  z-index: 20;
  pointer-events: none;
}

/* Grid for 3 vertical cards */

.cards-stack {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 38px;
}

/* Horizontal Card Styles */

.card--h {
  max-width: 720px;
  height: 190px;
}

.card--h .card-inner {
  flex-direction: row;
}
.card--h .card-image {
  width: 252px;
  flex: 0 0 252px;
}
.card--h .card-content {
  flex: 1 1 auto;
  padding: 24px 14px 14px 24px;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
}

@media only screen and (max-width: 640px) {
  .card--h {
    max-width: 100%;
    height: auto;
  }

  .card--h .card-image {
    width: 100%;
    height: 200px;
  }

  .card--h .card-inner {
    flex-direction: column;
  }

  .card--h .card-content {
    flex-direction: column;
  }

  .card--h .cta-container {
    justify-content: end;
  }

  .card--h .arrow {
    width: 30px;
    height: 30px;
  }

  .card--h .arrow-icon {
    width: 30px;
    height: 30px;
  }
}

/* Vertical Card Styles */

.card--v {
  width: 100%;
  min-height: 370px;
}

.card--v .card-inner {
  flex-direction: column;
}

.card--v .card-image {
  width: 100%;
  height: 129px;
}

.card--v .card-content {
  flex: 1 1 auto;
  padding: 22px 12px 12px 22px;
  flex-direction: column;
  gap: 14px;
}

.card--v .card-cta {
  margin-top: auto;
  align-self: flex-end;
}

@media only screen and (max-width: 640px) {
  .cards-grid {
    display: flex;
    flex-direction: column;
  }

  .card--v {
    max-width: 100%;
    height: auto;
    min-height: auto;
  }

  .card--v .card-inner {
    min-height: 370px;
  }

  .card--v .card-image {
    height: 200px;
  }

  .card--v .arrow {
    width: 30px;
    height: 30px;
  }

  .card--v .arrow-icon {
    width: 30px;
    height: 30px;
  }
}

/* Back to Top Button */

.back-top-button .arrow {
  width: 48px;
  height: 48px;
}

.up-arrow-icon {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
}

.up-arrow-bg {
  fill: #fff;
}

.up-arrow-stroke {
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
}

.back-top-button:hover .up-arrow-bg {
  fill: #eed6d4;
}

.back-top-button:hover p {
  font-weight: 400;
}
